<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jcs.orderassistant" >

    <application
        android:name=".app.OrderApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/activityTitlebar" >
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.AACountActivity"
            android:label="@string/title_activity_aacount"
            android:theme="@style/activityTitlebar" >
        </activity>
        <activity
            android:name=".ui.AddMemberActivity"
            android:label="@string/title_activity_add_member" >
        </activity>
        <activity
            android:name=".ui.SepcountActivity"
            android:label="@string/title_activity_sepcount" >
        </activity>
        <activity
            android:name=".ui.ReceiveMoneyActivity"
            android:label="@string/title_activity_receive_money" >
        </activity>
        <activity
            android:name=".ui.BanlaceActivity"
            android:label="@string/title_activity_banlace" >
        </activity>
        <activity
            android:name=".ui.AdvanceRecordActivity"
            android:label="@string/title_activity_advance_record" >
        </activity>
    </application>

</manifest>
